{% extends 'blog/base.html' %}
{% load static %}
{% block body_block %}
  <h3>About Brain Jar</h3>
  <p>We're an independent game development studio focused on making games with
  character. Brain Jar began as a collaborative art project between two students,
  but the experience was so rewarding that the project continued beyond school.</p>
     <img class='img-fluid' src="{%static 'img/neo_brain.png' %}" alt="">
  <p>Our game,<a href="{% url 'cosmic-trash' %}">Cosmic Trash</a>, was featured
  at the Indie Games Festival in 2016. The team is currently working from they're
  apartments, seperated by hundreds of miles and relying on the interent to create
  their games. As we learn and develop our skills, our games have grown in entertainment
  value and breathe of scope, but we try to remain true to the experiment and
  spontaneous nature of art making.</p>
  <p>Several of our games are available free of charge. These represent our growth
  as game developers and serve as a promise of whats to come. We hope you enjoy
  our work and follow us to see what we create next.</p>
  <p>We're currently hard at work on our latest creation:
    <a href="{% url 'the-mad-gear' %}">The Mad Gear</a>. It follows a rock background
    as they fight their way through a comical cast of Turbo Cities roughest foes.
    Coming soon for PC, Mac, and Linux operating systems.</p>
    <div class="blog-post">
      <h4>In-house software</h4>
      <ol class="list-unstyled">
        <li><a href="https://godotengine.org/">Godot</a></li>
        <li><a href="https://www.aseprite.org/">Aseprite</a></li>
        <li><a href="https://unity3d.com/">Unity</a></li>
        <li><a href="https://git-scm.com/">Git</a></li>
        <li><a href="https://www.blender.org/">Blender</a></li>
      </ol>
    </div>
{% endblock %}
