{% extends 'blog/base.html' %}
{% load static %}
{% block body_block %}
  <h3>About Brain Jar</h3>
  <p>Brain Jar Labs is the twisted creation of a  group of mad scientists turned multi-dimensional wizard drifters. From behind the rainbow-fractured doorways of light vomit, we inject experimental image jazz and a cacophony of telagalaxodian beats directly into the neocortex. Your brain is our playground. .</p>

  <img class='img-fluid' src="{%static 'img/screenshots/logo_animated.gif' %}" alt="">

  <p>Our game,<a href="{% url 'cosmic-trash' %}">Cosmic Trash</a>, was featured
  at the Indie Games Festival in 2017. 

  <h4>Contact BrainJar</h4>
  <p>brainjarlabs@gmail.com</p>

  <h4>Follow Us on Twitter</h4>
  <a href="https://twitter.com/brainjargames"><img src="{% static 'img/icons/twitter.png' %}" alt=""></a>

  <p>We're currently hard at work on our latest creation:
    <a href="{% url 'the-mad-gear' %}">The Mad Gear</a>. It follows a rock background
    as they fight their way through a comical cast of Turbo Cities roughest foes.
    Coming soon for PC, Mac, and Linux operating systems.</p>
    <div class="blog-post">
      <h4>In-house software</h4>
      <ol class="list-unstyled">
        <li><a href="https://godotengine.org/">Godot</a></li>
        <li><a href="https://www.aseprite.org/">Aseprite</a></li>
        <li><a href="https://unity3d.com/">Unity</a></li>
        <li><a href="https://git-scm.com/">Git</a></li>
        <li><a href="https://www.blender.org/">Blender</a></li>
      </ol>
    </div>
{% endblock %}
