{% extends 'blog/base.html' %}
{% load static %}
{% block body_block %}
  <div class="centerstage">
      <h2>Cosmic Trash</h2>
    <img src="{% static "img/cosmic_1.png" %}"  class="img-fluid" alt="Image Missing">

    <h3>Surf your mind.</h3>
    <p>Welcome to COSMIC TRASH! This is a world created for your enjoyment and pizza in your mouth situations.
      Feel free to explore this sandbox of pop-culture and surrealism as a solo experience.
      Or plug in a projector and put on a visual show for your friends! </p>
    <p>Cosmic Trash features an original score by Brain Jar co-founder Russell White.
      Dazzle your senses with an array of visual candy burped up from the depths
      of the imagination, the lost remnants of our youth and the remains of a thousand
      daydreams combine to for a unique gaming experience.
    </p>
    <p><a href="https://brainjar.itch.io/cosmic-trash"><button type="button" class="btn btn-primary">Play</button></a></p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/kTJ0zFdxCfs" frameborder="0" allowfullscreen></iframe>

    <h2>Explore multple worlds</h2>
    <p>Four exotic landscapes await you in this mindbending adventure. Can you find
      the glitch dragon or the floating islands? Step through the magic door and
      into another, bizarre universe.</p>
    <img src="{% static "img/cosmic_2.png" %}" class="img-fluid" alt="Image Missing">
    <h2>From humble beginnings</h2>
    <p>Cosmic Trash was concieved as a art project. It serves not along as a game,
    but as a visual synthesizer where the player crafts the experience through
    gameplay. </p>
    <p>The overabundance of content will make your head spin, but in a good way.
    Cat particles, dollar bills, lazer-eye grannys, and chainsaw dionsaurs, they're
  all here waiting on you to discover them.</p>
    <img src="{% static "img/cosmic_3.png" %}" class="img-fluid" alt="Image Missing">


  </div> <!-- end container -->
{% endblock %}
