{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body_block %}
  <div class="container">
    <div class="blog-header">
      <h2 class="blog-title">News From Brain Jar</h2>
      <p class="lead blog-description">Life inside the experiment.</p>
    </div>
    <a href="{% static 'img/life/game_of_life_01.gif' %}"><img class="img-fluid" src="{% static 'img/life/game_of_life_01.gif' %}" alt=""></a>


    {% for post in post_list %}
      <div class="blog-post">
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
        <p class="blog-post-meta">{{post.published_date|date:"d m Y"}} by <a href="#">{{post.author}}</a></p>
        <p>{{post.text|truncatechars:200}}</p>


      </div><!-- /.blog-post -->
    {% endfor %}
  </div>
{% endblock %}
