{% extends 'blog/base.html' %}
{% load static %}
{% block body_block %}
  <div class="container">
    <div class="blog-header">
      <h3 class="blog-title">News from the Studio</h4>
    <p class="lead blog-description">
        Brain Jar is cooking up a laboratory's worth of new projects. We're knee deep in ideas and overflowing with content.
      We recently competed in Ludum Dare 47 and released a brand new metroidvania!</p>
    </div>

    <h3><a href=https://brainjar.itch.io/caidens-quest target="blank"> Caiden's Quest. </a></h3>
    <p> Caiden's only desire is to join the rank of the fabled Magi,
       but to do so he'll need to prove his worth by defeating Shadorak the lich king. Use a variety of magic and acrobatics to dive deep into an underground tomb and root out the evil that dwells there.</p>
    <a href="{% static 'img/screenshots/wizard.png' %}"><img class="img-fluid" src="{% static 'img/Caiden/cover_art_small.png' %}" alt=""></a>

    <h3><a href=https://brainjar.itch.io/the-wizards-labyrinth target="blank"> The Wizard's Labyrinth </a></h3>
    <p>Take control of David, a sorcerer trapped in the deepest and deadliest part of the Wizard’s Labyrinth. Within these walls time and space are warped. Death doesn’t last, and yet escape is by no means guaranteed.</p>
    <a href="{% static 'img/screenshots/wizard.png' %}"><img class="img-fluid" src="{% static 'img/screenshots/wizard.png' %}" alt=""></a>

    <h3> <a href=https://brainjar.itch.io/standard-gaming-company target="blank">Standard Gaming Company</a> </h3>
    <p>Use your wits and skills as an artist to prove that Gabby can make it at a Standard Gaming Company.</p>
    <a href="{% static 'img/screenshots/sgc.png' %}"><img class="img-fluid" src="{% static 'img/screenshots/sgc.png' %}" alt=""></a>

    <h3><a href=https://brainjar.itch.io/the-mad-gear target="blank"> The Mad Gear</a> </h3>
    <p>Battle your way through five levels of classic beat 'em up style gameplay featuring the worst that Turbo City's loony fighting gangs have to offer.</p>
    <a href="{% static 'img/rex.png' %}"><img class="img-fluid" src="{% static 'img/rex.png' %}" alt=""></a>

    <h3> <a href=https://brainjar.itch.io/blaster-cats target="blank">Blaster Cats</a> </h3>
      <p>Take back the galaxy from the maniacal shark empire</p>
    <a href="{% static 'img/screenshots/blastercats/targan.gif' %}"><img class="img-fluid" src="{% static 'img/screenshots/blastercats/targan.gif' %}" alt=""></a>

    <h3><a href=https://brainjar.itch.io/power-lost target="blank"> Power Lost </a></h3>
    <p>Your spaceship is out of power. What now?</p>
    <a href="{% static 'img/screenshots/power-lost-1.png' %}"><img class="img-fluid" src="{% static 'img/screenshots/power-lost-1.png' %}" alt=""></a>

    <h3><a href=https://brainjar.itch.io/unknown-planet target="blank"> Unknown Planet </a></h3>
    <p>A rescue mission set on an uncharted world.</p>
    <a href="{% static 'img/screenshots/up1.png' %}"><img class="img-fluid" src="{% static 'img/screenshots/up1.png' %}" alt=""></a>


    {% for post in post_list %}
      <div class="blog-post">
        <h3><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h3>
        <p class="blog-post-meta">{{post.published_date|date:"d m Y"}} by <a href="#">{{post.author}}</a></p>
        <p>{{post.text|truncatechars:200}}</p>
        <hr>

      </div><!-- /.blog-post -->
    {% endfor %}
  </div>
{% endblock %}
