{% extends 'blog/base.html' %}
{% load static %}
{% block body_block %}
  <div class="centerstage">
      <h2>The Mad Gear</h2>
    <img src="{% static "img/white_title.jpg" %}"  class="img-fluid" alt="Image Missing">

    <h2>The baddest rock band in Turbo City!</h2>
    <p>The Mad Gear need your help to clear their name and save the mayor.
    Battle your way through five levels of classic beat 'em up style gameplay
    featuring the worst that Turbo Cities looney fighting gangs have to offer.
    The Mad Gear features satifing gameplay and hiliarous dialogue. Plug in
    two controllers and fight with a friend!</p>
    <p>The Mad Gear features an amazing all-original score written by
      <a href="https://twitter.com/madgearband">The Mad Gear</a> musical group.
      Drawing inspiration from classic games, The Mad Gear Game features Ninja,
      Whiggs, Cyborgs, Vampires and more!
    </p>

    <p><button type="button" class="btn btn-primary btn-lg">Free Download</button></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0p-v6PKfhls" frameborder="0" allowfullscreen></iframe>

    <h2>Battle ninjas on the city rooftops!</h2>
    <p>The Mad Gear don't get along with the Ninja Gang. When the mayor is kidnapped
      and our heroes framed for the evil deed, the Ninjas are the first villains
      they'll need to question.</p>
    <img src="{% static "img/ninja_cola.png" %}" class="img-fluid" alt="Image Missing">
    <h2>Five characters to choose from.</h2>
    <p>Every member of the band is a playable character with a unique special
    move and peronality. Team up with a friend for two player action and let
    lose your inner rocker!</p>
    <img src="{% static "img/characters.png" %}" class="img-fluid" alt="Image Missing">

    <h2>Two players means twice the action.</h2>
    <p>Team up with a friend and go head to head with a hiliariouis cast of villains
      rendered in bold pixel graphics. There's not shortage of explosions in this game.
      Smash your way through five different gangs and face off with gang boss.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="{% static 'img/2_player.png' %}">
          <img src="{% static "img/2_player.png" %}" style="width:100%" alt="Image Missing"></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="{% static 'img/city.png' %}">
          <img src="{% static "img/city.png" %}" style="width:100%" alt="Image Missing"></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="{% static 'img/rex.png' %}">
          <img src="{% static "img/rex.png" %}" style="width:100%" alt="Image Missing"></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="{% static 'img/stage.png' %}">
          <img src="{% static "img/stage.png" %}" style="width:100%" alt="Image Missing"></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="{% static 'img/fist_smash.png' %}">
          <img src="{% static "img/fist_smash.png" %}" style="width:100%" alt="Image Missing"></a>
        </div>
      </div>

      </div><!-- end row -->

  </div> <!-- end container -->
{% endblock %}
