{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body_block %}
  <h2> Blender </h2>
  <h5>Animation in Blender using the Action Editor.</h5>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/4zs-jovp6r0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>
<h5>Rigging characters for animation in Blender.</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/X2o8TEKgoXI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>
  <h5>Model and texture a low poly revolover.</h5>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/C6J5Z-0PwEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <hr>
  <h5>Create a sword in Blender!</h5>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-cveyOu3ckc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <h2> Godot 3.0</h2>
  <a href="{% url 'game-of-life' %}">
    <h4 class="title">Conway's Game of Life</h4>
    <p>Recreate the classic Game of Life simulation.</p>
    <img src="{% static 'img/life/life_thumbnail.gif' %}" class="img-thumbnail
     tut-img" alt="">
  </a>
  <h2>Godot 2.1.4</h2>
  <a href="{% url 'breakout' %}">
    <h4 class="title">Breakout</h4>
    <img src="{% static 'img/breakout/breakout_thumbnail.png' %}" class="img-thumbnail
     tut-img" alt="">
  </a>

</ul>



{% endblock %}
