.blog-nav-item {
  margin-right: 10px;
}

.navbar-brand {

    font-size: 1.5em;
}

.navbar-brand img {

}

.navbar-nav {
  margin-left: 50px;
}

h2, h3 {
  font-family: 'Quantico', sans-serif;
  /*font-family: 'Exo 2', sans-serif;*/
  margin-top: 10px;
}
p {
    font-family: 'Hind Guntur', sans-serif;
}

hr {

  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
}
.post strong {

}

.post p {
  margin-bottom: 50px;
}

h2 {

  padding: 5px;
  margin-bottom: 30px;
}
nav {
  font-family: 'Quantico', sans-serif;
  /*font-family: 'Exo 2', sans-serif;*/
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  margin-left: 25px;
}

#myCarousel {
}


.post {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: white;
    color:black;
  background: linear-gradient(to bottom, lightpink, pink);
}



.sidebar-module {
  padding-top: 10px;
  margin-bottom: 10px;
  color: black;
}

.sidebar-module a {
  color: red;
}
a {
  color: black;
}

.post button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-one {

}

.blog-main img {
  margin-bottom: 50px;
}

.logo {
  text-align: center;
}

.godot-code {
  color: white;
  background-color: grey;
}

body {
  color: white;
  background: linear-gradient(to bottom, lightpink, pink);

}

#mad_gear_body {
  background-image: url('/static/img/bricks.png')
}

#mad_gear_body .btn-primary{
}

#mad_gear_body a{
  color: white;
}
.tuts-list li {
  display: inline;
  vertical-align: bottom;

}
.footer {
    margin-top: 100px;
    color: black;
}

.blog-main {
  margin-right: 30px;
}
